Source: ros-indigo-imu-pipeline
Section: misc
Priority: extra
Maintainer: Paul Bovbel <pbovbel@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/imu_pipeline
Standards-Version: 3.9.2

Package: ros-indigo-imu-pipeline
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-imu-processors, ros-indigo-imu-transformer
Description: imu_pipeline
